html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
main .last-section,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main .last-section,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  background-image: url("images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 800px) {
  html {
    background-image: url("images/bg-header-desktop.png");
  }
}

body {
  text-align: center;
}


header,
main .last-section {
  width: 80vw;
  max-width: 1100px;
  margin: 6rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

header .logo, main .last-section .logo {
  max-width: 5rem;
  margin-bottom: 1.5rem;
}

header .hero-title, main .last-section .hero-title {
  color: #4c535b;
  font-weight: 600;
  font-size: clamp(1.5rem, calc(1.2rem + 1vw), 2rem);
  line-height: 1.2em;
}

header .hero-copy, main .last-section .hero-copy {
  font-weight: 400;
  font-size: 1rem;
  color: #9fabb2;
  line-height: 1.5em;
}

@media (min-width: 800px) {
  header .hero-copy, main .last-section .hero-copy {
    max-width: 33.33rem;
    margin: 0 auto;
  }
}

header .cta, main .last-section .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

@media (min-width: 800px) {
  header .cta, main .last-section .cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header .cta .iOS, main .last-section .cta .iOS, header .cta .Mac, main .last-section .cta .Mac {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  background-color: #26baa4;
  padding: 0.8em 3em;
  border-radius: 10em;
  -webkit-box-shadow: 0 5px 10px 0 rgba(38, 186, 164, 0.3);
          box-shadow: 0 5px 10px 0 rgba(38, 186, 164, 0.3);
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

@media (min-width: 800px) {
  header .cta .iOS, main .last-section .cta .iOS, header .cta .Mac, main .last-section .cta .Mac {
    padding: 0.8em 2em;
  }
}

header .cta .iOS:hover, main .last-section .cta .iOS:hover, header .cta .Mac:hover, main .last-section .cta .Mac:hover {
  background-color: #5dccbb;
  cursor: pointer;
}

header .cta .Mac, main .last-section .cta .Mac {
  background-color: #6173ff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(97, 115, 255, 0.3);
          box-shadow: 0 5px 10px 0 rgba(97, 115, 255, 0.3);
}

header .cta .Mac:hover, main .last-section .cta .Mac:hover {
  background-color: #8896ff;
}

main {
  width: 80vw;
  max-width: 1100px;
  margin: 0 auto;
}

main .first-section {
  margin: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}

@media (min-width: 800px) {
  main .first-section {
    margin: 10rem 0 15rem 0;
  }
}

main .first-section .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

main .first-section .info .info-title {
  color: #4c535b;
  font-weight: 600;
  font-size: clamp(1.2rem, calc(0.9rem + 1vw), 1.7rem);
  line-height: 1.2em;
}

main .first-section .info .info-copy {
  font-weight: 400;
  font-size: 1rem;
  color: #9fabb2;
  line-height: 1.5em;
}

@media (min-width: 800px) {
  main .first-section .info .info-copy {
    max-width: 33.33rem;
    margin: 0 auto;
  }
}

main .first-section .more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

@media (min-width: 800px) {
  main .first-section .more-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.1fr 1fr;
        grid-template-columns: 1.1fr 1fr;
    position: relative;
  }
}

main .first-section .more-info .computer-graphic {
  max-width: 100%;
}

@media (min-width: 800px) {
  main .first-section .more-info .computer-graphic {
    max-width: 33.33rem;
    position: absolute;
    top: -1rem;
    right: 50%;
  }
}

main .first-section .more-info .function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

@media (min-width: 800px) {
  main .first-section .more-info .function {
    gap: 2rem;
    text-align: left;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
}

main .first-section .more-info .function li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

main .first-section .more-info .function .function-title {
  color: #4c535b;
  font-weight: 600;
  font-size: clamp(1rem, calc(0.7rem + 1vw), 1.2rem);
  line-height: 1.2em;
}

main .first-section .more-info .function .function-copy {
  font-weight: 400;
  font-size: 1rem;
  color: #9fabb2;
  line-height: 1.5em;
}

@media (min-width: 800px) {
  main .first-section .more-info .function .function-copy {
    max-width: 25rem;
  }
}

main .second-section {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

main .second-section .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

main .second-section .info .info-title {
  color: #4c535b;
  font-weight: 600;
  font-size: clamp(1.2rem, calc(0.9rem + 1vw), 1.7rem);
  line-height: 1.2em;
}

main .second-section .info .info-copy {
  font-weight: 400;
  font-size: 1rem;
  color: #9fabb2;
  line-height: 1.5em;
}

@media (min-width: 800px) {
  main .second-section .info .info-copy {
    max-width: 33.33rem;
    margin: 0 auto;
  }
}

main .second-section .devices-graphic {
  width: 100%;
}

@media (min-width: 800px) {
  main .second-section .devices-graphic {
    max-width: 38rem;
    margin: 0 auto;
  }
}

main .third-section {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}

main .third-section .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

main .third-section .info .info-title {
  color: #4c535b;
  font-weight: 600;
  font-size: clamp(1.2rem, calc(0.9rem + 1vw), 1.7rem);
  line-height: 1.2em;
}

main .third-section .info .info-copy {
  font-weight: 400;
  font-size: 1rem;
  color: #9fabb2;
  line-height: 1.5em;
}

@media (min-width: 800px) {
  main .third-section .info .info-copy {
    max-width: 33.33rem;
    margin: 0 auto;
  }
}

main .third-section .flow-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
}

@media (min-width: 800px) {
  main .third-section .flow-function {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

main .third-section .flow-function li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

main .third-section .flow-function .flow-function-icon {
  max-height: 2rem;
}

@media (min-width: 800px) {
  main .third-section .flow-function .flow-function-icon {
    max-height: 1.5rem;
  }
}

main .third-section .flow-function .flow-function-title {
  color: #4c535b;
  font-weight: 600;
  font-size: clamp(1rem, calc(0.7rem + 1vw), 1.2rem);
  line-height: 1.2em;
}

main .third-section .flow-function .flow-function-copy {
  font-weight: 400;
  font-size: 1rem;
  color: #9fabb2;
  line-height: 1.5em;
  margin-top: -1rem;
}

main .logos {
  margin: 7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

@media (min-width: 800px) {
  main .logos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main .logos img {
  max-height: 2rem;
}

main .logos img:nth-of-type(1) {
  max-width: 7rem;
}

main .logos img:nth-of-type(3) {
  max-width: 6rem;
}

main .logos img:nth-of-type(5) {
  max-width: 5rem;
}

main .last-section .info-title {
  color: #4c535b;
  font-weight: 600;
  font-size: clamp(1.2rem, calc(0.9rem + 1vw), 1.7rem);
  line-height: 1.2em;
}

main .last-section .info-copy {
  font-weight: 400;
  font-size: 1rem;
  color: #9fabb2;
  line-height: 1.5em;
}

footer {
  background-color: #f5f6f8;
  padding: 3rem 0;
}

footer .footer-content {
  width: 80vw;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

@media (min-width: 800px) {
  footer .footer-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.25fr 2fr 0.5fr;
        grid-template-columns: 0.25fr 2fr 0.5fr;
    text-align: left;
  }
}

footer .footer-logo {
  max-width: 2.5rem;
}

@media (min-width: 800px) {
  footer .footer-logo {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

@media (min-width: 800px) {
  footer .footer-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    justify-items: start;
    -webkit-column-gap: 2.5rem;
            column-gap: 2.5rem;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

footer .footer-menu .menu-item {
  text-decoration: none;
  color: #4c545d;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

footer .footer-menu .menu-item:hover {
  color: #26baa4;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

@media (min-width: 800px) {
  footer .social {
    gap: 0.5rem;
  }
}

footer .social .social-icon {
  min-width: 2rem;
  min-height: 2rem;
}

@media (min-width: 800px) {
  footer .social .social-icon {
    min-width: 1.5rem;
    min-height: 1.5rem;
  }
}

footer .social .facebook, footer .social .twitter, footer .social .instagram {
  background-color: #4c545d;
  -webkit-mask: url("images/icon-facebook.svg") no-repeat center;
          mask: url("images/icon-facebook.svg") no-repeat center;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

@media (min-width: 800px) {
  footer .social .facebook, footer .social .twitter, footer .social .instagram {
    -webkit-mask-size: 70%;
            mask-size: 70%;
  }
}

footer .social .facebook:hover, footer .social .twitter:hover, footer .social .instagram:hover {
  background-color: #26baa4;
}

footer .social .twitter {
  -webkit-mask: url("images/icon-twitter.svg") no-repeat center;
          mask: url("images/icon-twitter.svg") no-repeat center;
}

@media (min-width: 800px) {
  footer .social .twitter {
    -webkit-mask-size: 80%;
            mask-size: 80%;
  }
}

footer .social .instagram {
  -webkit-mask: url("images/icon-instagram.svg") no-repeat center;
          mask: url("images/icon-instagram.svg") no-repeat center;
}

@media (min-width: 800px) {
  footer .social .instagram {
    -webkit-mask-size: 70%;
            mask-size: 70%;
  }
}
/*# sourceMappingURL=style.css.map */